/* This is a css reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.header{
    height: 5vh;
    width: 100%;
    background-color: black;
    color: white;
    position: absolute;
    top: 0%;
    left: 0%;
}
.header-menu{
    width:50vw;
    display: flex;
    flex-direction: row;
}
.header-box{
    height: 5vh;
    flex: 1;
    background-color: rgba(0,0,0,.5);
}
.header-box:hover{
    background-color: white;
    color:black;
}
.page{
    height: 100vh;
    background-color: red;
}
.intro{
    background-color: green;
}